body {
	background-color: #efefef;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}

nav {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 999;

	box-shadow: 0px 8px 4px #33aa33;

}

nav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

nav li {
    float: right;
}

nav li a {
	display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}


nav li a:link {
	color: #fff;
}

/* visited link */
nav li a:visited {
	color: #fff;
}

/* mouse over link */
nav li a:hover {
	color: #fff;
	background-color: #33aa33;
}

/* selected link */
nav li  a:active {
	color: #fff;
}


nav #left {
	float: left;
}


div {
	background-color: #222;
	box-shadow: 5px 5px #33aa33;
	color: white;
	position: relative;
	padding: 10px;
	margin-top: 2em;
	top: 3em;
	margin-right: 5px;
}

 /* unvisited link */
a:link {
    color: #33aa33;
}

/* visited link */
a:visited {
    color: #33aa33;
}

/* mouse over link */
a:hover {
    color: #ff3300;
}

/* selected link */
a:active {
    color: #ff3300;
}

b {
	color: #33aa33;
	font-weight: lighter;
}

abbr {
	text-decoration: #33aa33 underline wavy;
}

p {

}

u {
	text-decoration: underline #33aa33; 
}

h4 {
	margin: 5px;
}

/* Lists */
ul {
	margin: 5px;
	list-style: circle outside;
	color: #33aa33;
}

li {

}

blockquote {
	padding-left: 15px;
	border-left: 5px double #33aa33 ;
	width: 60%;
	font-style: italic;
}

/* Tables */
table {
	border-collapse: collapse;
	margin-left: 5em;
}

caption {
	color: #33aa33;
	padding-bottom: 0.2em;
}

th {
	border: #33aa33 solid 1px;
	padding: 0.5em;
}

td {
	border: #33aa33 solid 1px;
	padding: 0.5em;
}

pre {
	margin-left: 5em;
	width: 75%;
	border: #33aa33 dotted 2px;
	padding: 5px;
}

/* About Me Page */
#picture {
	width: 40%;
	height: 40%;
	float: left;
}

#hobbies {
	width: 50%;
	float: right;
}

#iam {
	width: 50%;
	float: right;
	margin-top: 2%;
}

#about {
	width: 40%;
	float: left;
	margin-top: 2%;
}

#about a {
	color: blue;
}


.post {
	width: 80%;
	left: 10%;
	margin-top: 2em;
	top: 3em;
	padding: 1em;
}

span {
	color: white;
}

#form {
	width: 60%;
	margin-left: 20%;
}

#form #right {
	left: 15px;
}

#form #left {
}

section {
	margin: 2em;
}

.checkbox label {
	cursor: pointer;
}

h1 {
	color: #33aa33;
	font-size: 2em;
	font-weight: lighter;
}

.date {

}

.content {
	text-indent: 2em;
}

#search-bar {

}

.comment {
	border-color: #33aa33;
	border-style: double;
	padding: 1em;

}

.comment p {
	margin: 0px;
}